# Игнорировать файл с переменными окружения
.env

# Игнорировать папку с виртуальным окружением
.venv/
venv/
env/

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать логи и временные файлы
*.log
*.tmp
*.bak

# Игнорировать базы данных (если они локальные)
*.db
*.sqlite3

# Игнорировать статические файлы (если они генерируются)
static/
media/

# Игнорировать архивные файлы
*.zip
*.tar.gz